body{
    background-image: url(back.jpg);
    margin: 10px;
    padding: 10px;
    text-align: center;
}
table{
    margin: 10px;
    padding: 40px;
    size: 40px;
    
}
.box-no{
 font-family: 'Times New Roman';
 font-size: 20px;

}
.box-nama{
 font-family:'Times New Roman';
 font-size: 20px;
 padding: 10px;
 margin: 10px;
}
.beranda{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
}
