body{
    text-align: center;
    background-image: url(back.jpg);
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    font-family: Arial;
}
.beranda{
    text-decoration: none;
    color: brown;
    font-family: sans-serif;
}
.Map{
    text-decoration: none;
    color: brown;
    font-family: sans-serif;
    margin: 20px;
}