body {
    font-family: Helvetica;
    background-attachment: fixed;
    margin: 10px;
    background-image: url(bg1.jpg);
    color: white;
    padding: 10px;
  }
  .navigasi {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    max-width: 1200px;
    background-color: black;
    background-image: url(bg2.jpg);
  }
  
  
  .logo {
    align-content: center;
    align-items: center;
    padding-left: 20px;
    color: rgb(117, 14, 14);
    font-size: 30px;
    font-weight: 800;
    transition: transform 1s ease-in-out;
  }
  .logo:hover {
    transform: scale(1.2);
  }
  .logo1 {
    color: white;
  }
  .list-Menu {
    padding: 10px;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  li {
    margin: 20px;
    padding: 0 20px;
    padding-left: 10px;
    color: white;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: brown;
  }
  .Halaman-Depan {
    display: flex;
    align-items: center;
    background-position: center;
  }
  .text {
    align-content: center;
    padding: 200px;
    color: w;
    transition: transform translateX();
  }
  
  @keyframes moveY {
    100%,
    30% {
      transform: translateY(10);
    }
    0% {
      transform: translateY(200px);
    }
  }
  .text {
    animation: moveY 1s normal;
    font-size: 20px;
    animation-delay: 10ms;
    color: white;
    
  }
  .hanya-gambar {
    width: auto;
    height: auto;
    padding-right: 100px;
  }
  .judul {
    font-size: 80px;
    margin-bottom: 10px;
  }
  .tombol {
    background-color: rgb(86, 5, 86);
    color: white;
  }
  .linya {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .deskripsi {
    color: white;
    text-align: justify;
  }
  .navigasi2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(bg2.jpg);
    margin: 20px;

  }
  
  .list-Menu2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    
  }

  .menu-1 {
    font-size: 20px;
    color: white;
  }
  .r2 {
    text-align: center;
    font-size: 20px;
  }
  .input {
    border-radius: 20px;
    padding: auto;
    margin: auto;
  }
  div {
    text-align: center;
    font-family: "Times New Roman";
  }
  .section{
    background-image: url(bg1.jpg);
  }
  .sect2{
    font-family: sans-serif;
  }
  .judul{
    color: brown;
  }
  @media (max-width:720px) {
    .Halaman-Depan {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

  }
  @media (max-width:500px) {
    .Halaman-Depan {
      display: flex;
      flex-direction: column;
      
    }
  }